.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.buttom {
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 4px;
  margin: 0 30px;
  color: black;
  border-radius: 4px;
  background-color: #cdbbf2;
}
@media (max-width: 800px) {
  h1 {
    font-size: 22px;
    text-align: center;
  }
  .buttom {
    display: block;
    font-size: 14px;
    margin: 10px 20px;
    text-align: center;
  }
}

@media (min-width: 900px) {
  h1 {
    color: red;
  }
}
