:root {
  --roboto-stylesheet: "Roboto", sans-serif;
  --inter-stylesheet: "Inter", sans-serif;
  --background-color: #f9f7fe;
  --secondary-color: blue;
}

.introduce h1 {
  font-size: 56px;
  font-family: var(--roboto-stylesheet);
  color: var(--secondary-color);
}
.introduce,
.introduce h2 {
  text-align: center;
  background: var(--background-color);
  padding: 20px;
}

p {
  font-size: larger;
  font-family: var(--inter-stylesheet);
  line-height: 1.5;
  font-size: 16px;
  font-weight: lighter;
}

.btn {
  padding: 15px;
  font-family: var(--roboto-stylesheet);
}
.point {
  color: var(--secondary-color);
}
.about-section-content {
  margin-top: 150px;
}
.btn-primary {
  margin-top: 50px;
  color: white;
  padding: 15px;
  font-family: var(--roboto-stylesheet);
}
img {
  margin: 30px 0 0;
  background: var(--background-color);
  max-width: 100%;
  height: auto;
}
.workpage,
.container-contactpage {
  padding: 100px 20px;
}

.container-fluid a:hover {
  color: blueviolet;
}
@media (max-width: 500px) {
  .about-section-content,
  .container-fluid,
  .container-contactpage,
  .workpage {
    padding: 30px;
    margin: 0;
  }
}

footer .social-links a {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0 20px;
  text-decoration: none;
  color: black;
  margin: 30px;
  font-size: 24px;
}
